@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    background: hsl(280, 4%, 87%);
    color: hsl(223, 18%, 36%);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

h1, h2, h3 {
    color: hsl(281, 41%, 48%);
    font-family: "Poppins", sans-serif;
}

ul {
    list-style-type: square;
}

button {
    color: hsl(0, 0%, 100%);
    background: hsl(281, 41%, 48%);
    font-weight: 500;
    text-align: center;
    font-size: 25px;
}

button:hover {
    color: hsl(0, 0%, 100%);
    background: hsl(223, 18%, 36%);
}

.title {
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
}

.subtitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.3em;
}

#introduction {
    font-weight: 500;
}

